/*
 * loading
 * ---------- */

.pace-running .wrap {
	display:none;
}

 /* PACE.js */

.pace {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 101;
	background-color: #eee;
	-webkit-pointer-events: none;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.pace:before {
	background-image: url("../image/maoki.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	z-index: 150;
}


.pace-inactive {
	display: none;
}

.pace .pace-progress {
	background: #29d;
	position: fixed;
	z-index: 2000;
	top: 0;
	right: 100%;
	width: 100%;
	height: 100%;
}
