/*
 * niconicoのアイコンフォント
 */

@font-face {
  font-family: 'iconfont';
  src:  url('../asset/fonts/iconfont.eot?k1ey93');
  src:  url('../asset/fonts/iconfont.eot?k1ey93#iefix') format('embedded-opentype'),
    url('../asset/fonts/iconfont.ttf?k1ey93') format('truetype'),
    url('../asset/fonts/iconfont.woff?k1ey93') format('woff'),
    url('../asset/fonts/iconfont.svg?k1ey93#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-niconico:before {
  content: "\e900";
}

/*
 * niconicoのアイコンフォント
 */


.icon_white {
	color: #ffffff;
}
.icon_white a {
	color: #ffffff;
}

/*
 *ステップフロー
 */
ul.stepflow {
	border: none;
	margin: 1em 0.5em;
	padding: 0;
	list-style: none;
}
ul.stepflow > li:before, ol.stepflow > li:before {
	background-color: #3498DB!important;
}
.stepflow li {
    position: relative;
    padding: 0 0 1.5em 1.8em;
}
.stepflow>li:before {
	content: "";
	width: 3px;
	background: #3498DB;
	display: block;
	position: absolute;
	top: 28px;
	bottom: 0;
	left: 7px;
}
.stepflow-white {
	content: '';
	display: inline-block;
	position: absolute;
	top: 5px;
	left: 0;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border: solid 3px #164f89;
}
.stepflow-black {
	content: '';
	display: inline-block;
	position: absolute;
	top: 5px;
	left: 0;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border: solid 3px #164f89;
	background-color: #164f89;
}
.stepflow_label {
	padding: 3px 0px 8px 0px;
	margin-bottom:8px;
	color: #999999;
	font-size: .8em;
	font-weight: bold;
}
.stepflow_title {
	font-size: 1.2em;
	font-weight: bold;
	line-height: 1.5;
	margin-bottom:15px;
}
.stepflow_content {
	font-size: .9em;
	line-height: 1.5;
	margin-top: .5em;
	padding: 0 0 1.5em;
	border-bottom: dashed 1px #cccccc;
}




/*
 * トップページのSwiper下部分
 */

.section {
  margin: 0.5em 0 1em 0;
  padding: 2em 0 1em 0;
}

.section.section-default {
  background-color: #eee;
}

.section.section-inverse {
  background-color: #fff5e6;
}

.section .subtitle {
  margin-bottom: 1rem;
  text-align: center;
}

.section .subtitle h2 {
  margin-top: 0;
}

.point .point-box {
  text-align: center;
}

.point .point-box .point-circle {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  font-size: 60px;
  line-height: 100px;
  color: #fff;
  border-radius: 100%;
}

.point .point-box .point-circle.works_icon {
  background-color: #28a745;
}

.point .point-box .point-circle.request {
  background-color: #3498DB;
}

.point .point-box .point-circle.contact {
  background-color: #E74C3C; /*#dc3545*/
}

.point .point-box .point-description h4 {
  margin-top: 1rem;
  text-align: center;
}

.point .point-box .point-description p {
  text-align: justify;
}




/*
 * Topへ戻るボタン
 * -------------------------------------------------- */
#pagetop {
    position:fixed;
    bottom:60px;
    right:10px;
    padding:5px 12px;
    color: #353535; /* 文字色 */
    font-size:16px;
    text-decoration:none;
    background: linear-gradient(
    -45deg,
    #fff 25%,
    #A5DBF6 25%, #E8F6FC 50%,
    #fff 50%, #fff 75%,
    #A5DBF6 75%, #E8F6FC
  );
  background-size: 4px 4px;
  border: 3px solid #65C2F0; /* ボーダーの色 */
  border-radius: 100%; /* ボタンの丸み */
  opacity: 0.6; /* ボタンの透明度 */
  z-index: 99;
}

/* ページトップへ戻るボタン：ホバー時 */
#pagetop:hover {
    color: #ffffff; /* 文字色 */
    background:#65C2F0;/* 背景色 */
}

/*
 * フッターの設定
 *
 * https://azmind.com/demo/bootstrap-footer/
 */

.footer-top { padding: 60px 0; background: #222; text-align: left; color: #aaa; }
.footer-top h3 { padding-bottom: 10px; color: #fff; }

.footer-about img.logo-footer { max-width: 74px; margin-top: 0; margin-bottom: 18px; }
.footer-about p a { border: 0; }
.footer-about p a:hover, .footer-about p a:focus { border: 0; }

.footer-contact p { word-wrap: break-word; }
.footer-contact i { padding-right: 10px; font-size: 18px; color: #666; }
.footer-contact p a { border: 0; }
.footer-contact p a:hover, .footer-contact p a:focus { border: 0; }

.footer-links a { color: #aaa; border: 0; }
.footer-links a:hover, .footer-links a:focus { color: #fff; }

.footer-bottom { padding: 15px 0 17px 0; background: #f5f5f5; text-align: left; color: #555; }

.footer-social { padding-top: 3px; text-align: right; }
.footer-social a { margin-left: 20px; color: #666; border: 0; }
.footer-social a:hover, .footer-social a:focus { color: #33bffb; border: 0; }
.footer-social i { font-size: 24px; vertical-align: middle; }

.footer-copyright { padding-top: 5px; }
.footer-copyright a { color: #222; border: 0; }
.footer-copyright a:hover, .footer-copyright a:focus { color: #000; border: 0; }

.footer-secret {
	color: #f5f5f5;
}
.footer-secret a {
	color: #f5f5f5;
	border: 0;
}
.footer-secret a:hover {
	color: #f5f5f5;
	border: 0;
}