/*
 * swiper
 * ------ */
.swiper-slide .slide-content h1,
.swiper-slide .slide-content h2,
.swiper-slide .slide-content h3 {
	position: absolute;
	top: 20%;
	left: 20%;
	transform: translate(-10%, -10%);
	color: #FFF;
	font-size: 24px;
	text-shadow: 2px 2px rgba(0,0,0,0.5);
	background-color: rgba(32,32,32,0.4);
}
.swiper-slide .slide-content p {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(32,32,32,0.5);
	color: #FFF;
	text-shadow: 2px 2px rgba(0,0,0,0.5);
}
.swiper-slide .slide-content .caption {
	position: absolute;
	bottom: 30px;
	right: 30px;
	color: #FFF;
	font-size: 16px;
	background-color: rgba(32,32,32,0.5);
	padding: 3px 8px;
	text-shadow: 2px 2px rgba(0,0,0,0.5);
}
.swiper-slide .slide-content .caption a {
	color: #fff;
}
.swiper-slide .slide-content .caption a:hover {
	color: #ddd;
}

/*
 * swiper prev,next
 * ---------------- */

.swiper-button-prev,
.swiper-button-next {
	width: 48px;
	height: 48px;
	margin-top: 0px;
}
.swiper-button-prev {
	background: url(../image/angle-left.png) no-repeat center center / contain;
}
.swiper-button-prev::after {
	content: "";
}
.swiper-button-prev:hover {
	background: url(../image/angle-left-hover.png) no-repeat center center / contain;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all	0.3s ease;
}

.swiper-button-next {
	background: url(../image/angle-right.png) no-repeat center center / contain;
}
.swiper-button-next::after {
	content: "";
}
.swiper-button-next:hover {
	background: url(../image/angle-right-hover.png) no-repeat center center / contain;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all	0.3s ease;
}

/*
 * niconico icon font
 */

@font-face {
	font-family: 'iconfont';
	src:	url('../asset/fonts/iconfont.eot?k1ey93');
	src:	url('../asset/fonts/iconfont.eot?k1ey93#iefix') format('embedded-opentype'),
	url('../asset/fonts/iconfont.ttf?k1ey93') format('truetype'),
	url('../asset/fonts/iconfont.woff?k1ey93') format('woff'),
	url('../asset/fonts/iconfont.svg?k1ey93#iconfont') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'iconfont' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.icon-niconico:before {
	content: "\e900";
}

/*
 * niconico icon font
 */

.body_gray {
	background: #eee;
}


.icon_white {
	color: #ffffff;
}
.icon_white a {
	color: #ffffff;
}

/*
 * navbar
 */
.navbar h1 {
	font-weight: normal;
	margin-bottom: 0;
}

.navbar-bottom-dotted {
	border-bottom: 2px dotted #888;
}

/*
 * top page works
 */
#works h2 {
	border-left: solid 8px #66AFD5;
	position: relative;
	color: #4a4a4a;
	font-size: 28px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 1px;
	text-align: left;
	padding: 16px 0 16px 16px;
	margin: 8px 0 12px;
}
#works h2 .right_link {
	text-align: right;
	position: absolute;
	right: 0;
	font-size: 10px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0.5px;
}

/*
 * sub_page
 * -------- */

#sub_page h2 {
  position: relative;
  padding: 1rem ;
  text-align: center;
  margin: 1rem 0 2rem;
}

#sub_page h2:before {
  position: absolute;
  bottom: 0px;
  left: calc(50% - 30px);
  width: 60px;
  height: 5px;
  content: '';
  border-radius: 3px;
  background: #24A4E9;
}

#sub_page h3.subpage_h {
	border-left: solid 5px #A3B978;
	position: relative;
	color: #4a4a4a;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0.5px;
	text-align: left;
	padding: 12px 0 12px 16px;
	margin: 0 0 12px;
}

#sub_page h4.subpage_h {
	border-left: double 6px #A3B978;
	position: relative;
	color: #4a4a4a;
	font-size: 1.2rem;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0.5px;
	text-align: left;
	padding: 8px 0 8px 16px;
	margin: 0 0 12px;
}

#sub_page h5.subpage_h {
	border-left: double 6px #A3B978;
	position: relative;
	color: #4a4a4a;
	font-size: 1rem;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0.5px;
	text-align: left;
	padding: 8px 0 8px 16px;
	margin: 0 0 12px;
}


/*
 * card
 */
.card-body h3,
.card-body h4 {
	font-size: 1rem;
	font-weight: bold;
	margin-bottom: 8px;
}
/*
 * card ( date / client )
 */
.card-body .works-data {
	display: flex;
	flex-wrap: nowrap;
	
	display: table;
}

.card-body .works-data p {
	color: #777;
	font-size: 11px;
	line-height: 17px;
	text-align: left;
	margin: 0 18px 0 0;
	
	display: inline-block;
	vertical-align: middle;
}

.card-body .works-data p:last-child {
	margin-right: 0px;
}

.card-body .works-data i {
	margin-right: 3px;
}

/*
 * card ( YouTube / niconico )
 */

.card-body .works-link {
	display: flex;
	flex-wrap: nowrap;
	margin-top: 8px;

	display: table;
}

.card-body .works-link p {
	font-size: 11px;
	font-weight: 600;
	letter-spacing: 1px;
	text-align: left;
	margin: 0 12px 0 0;

	display: inline-block;
	vertical-align: middle;
}

.card-body .works-link p:last-child {
	margin-right: 0px;
}

.card-body .works-link img {
	width:	48px;
	height: 48px;
}

/*
 * Top page About
 * -------------- */
#about h2 {
	border-left: solid 8px #66AFD5;
	position: relative;
	color: #4a4a4a;
	font-size: 28px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 1px;
	text-align: left;
	padding: 12px 0 12px 16px;
	margin:	4px 0 16px;
}
#works h2 .right_link {
	text-align: right;
	position: absolute;
	right: 0;
	font-size: 10px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0.5px;
}

.point .point-box {
	text-align: center;
}

.point .point-box .point-circle {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	font-size: 60px;
	line-height: 100px;
	color: #fff;
	border-radius: 100%;
}

.point .point-box .point-circle.maoki_icon {
	background-color: #E74C3C;
}

.point .point-box .point-circle.works_icon {
	background-color: #3498DB;
}

.point .point-box .point-circle.request {
	background-color: #ffc107;
}

.point .point-box .point-circle.contact {
	background-color: #28a745; /*#dc3545*/
}

.point .point-box .point-description h3 {
	margin-top: 1rem;
	text-align: center;
}

.point .point-box .point-description p {
	text-align: justify;
}




/*
 * Topへ戻るボタン
 * --------------- */
#pagetop {
	position:fixed;
	bottom:60px;
	right:10px;
	padding:5px 12px;
	color: #353535;
	font-size:16px;
	text-decoration:none;
	background: linear-gradient(
		-45deg,
		#fff 25%,
		#A5DBF6 25%, #E8F6FC 50%,
		#fff 50%, #fff 75%,
		#A5DBF6 75%, #E8F6FC
	);
	background-size: 4px 4px;
	border: 3px solid #65C2F0; /* ボーダーの色 */
	border-radius: 100%; /* ボタンの丸み */
	opacity: 0.6; /* ボタンの透明度 */
	z-index: 99;
}

#pagetop:hover {
	color: #ffffff;
	background:#65C2F0;
}

/*
 * footer
 * -------- */
.footer-top {
	padding: 60px 0;
	background: #eaeaea;
	text-align: left;
	color: #5d5d5d;
	border-top: 1px solid #d7d7d7;
}
.footer-top h3 {
	padding-bottom: 10px;
	color: #414141;
}

.footer-about img.logo-footer {
	width: 150px;
	height: 150px;
	margin-top: 0;
	margin-bottom: 18px;
}
.footer-about p {
	color: #252525;
}
.footer-about p a {
	color: #607A87;
	border: 0;
}
.footer-about p a:hover,
.footer-about p a:focus {
	color: #135E87;
	border: 0;
}

.footer-mid p {
	word-wrap: break-word;
}
.footer-mid i {
	padding-right: 10px;
	font-size: 18px;
	color: #666;
}
.footer-mid p a {
	color: #607A87;
	border: 0;
}
.footer-mid p a:hover,
.footer-mid p a:focus {
	color: #246F98;
	border: 0;
}

.footer-links a {
	color: #5d5d5d;;
	border: 0;
}
.footer-links a:hover,
.footer-links a:focus {
	color: #000;
}

.footer-links a.fotter-links-active {
	color: #000;
}

.footer-bottom {
	padding: 15px 0 17px 0;
	background: #eaeaea;
	text-align: left;
	color: #555;
	border-top: 1px solid #d7d7d7;
}

.footer-social {
	padding-top: 3px;
	text-align: right;
}
.footer-social a {
	margin-left: 20px;
	color: #666;
	border: 0;
}

.footer-social i {
	font-size: 24px;
	vertical-align: middle;
}

.footer-secret {
	color: #eaeaea;
}

.footer-secret:hover,
.footer-secret:focus {
	color: #f5f5f5;
	border: 0;
}

.footer-youtube:hover,
.footer-youtube:focus {
	color: #ff0000;
	border: 0;
}

.footer-niconico:hover,
.footer-niconico:focus {
	color: #252525;
	border: 0;
}

.footer-twitter:hover,
.footer-twitter:focus {
	color: #33bffb;
	border: 0;
}

.footer-copyright {
	padding-top: 5px;
}
.footer-copyright a {
	color: #222;
	border: 0;
}
.footer-copyright a:hover,
.footer-copyright a:focus {
	color: #000;
	border: 0;
}

/*
 * request
 * ------- */

.request_content {
	margin: 1em 1em 1.5em 2em;
}

.request_content_dotted {
	padding: 0 0 1em 1em;
	margin: 1em 1em 2em 1em;
	border-bottom: 1px dotted #333;
}

.request_content i,
.request_content_dotted i  {
	color: #555;
	margin-right: 1em; 
	font-size: 24px;
	vertical-align: middle;
}

.request_content .table thead th {
    background-color: #D7E1C5; /* #D7ECF7 */
}

.request_content .table-hover tbody tr:hover td,
.request_content .table-hover tbody tr:hover th {
	background-color: #F3F6EE; /* #E2F1F9 */
}

.contact_content {
	margin: 1em 0;
}
.contact_content {
	margin: 1em 0;
	text-align: center;
}
.contact_content i {
	color: #555;
	margin: 8px 12px; 
	font-size: 32px;
	vertical-align: middle;
}

.contact_content img.icon_tw_contact {
	width: 150px;
	height: 150px;
	margin: 18px;
}
