.section {
  margin: 3.5rem 0 0 0;
  padding: 2rem 0 1rem 0;
}

.section.section-default {
  background-color: #eee;
}

.section.section-inverse {
  background-color: #fff5e6;
}

.section .subtitle {
  margin-bottom: 1rem;
  text-align: center;
}

.section .subtitle h2 {
  margin-top: 0;
}

.point .point-box {
  text-align: center;
}

.point .point-box .point-circle {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  font-size: 60px;
  line-height: 100px;
  color: #fff;
  border-radius: 100%;
}

.point .point-box .point-circle.works_icon {
  background-color: #28a745;
}

.point .point-box .point-circle.request {
  background-color: #3498DB;
}

.point .point-box .point-circle.contact {
  background-color: #E74C3C; /*#dc3545*/
}

.point .point-box .point-description h4 {
  margin-top: 1rem;
  text-align: center;
}

.point .point-box .point-description p {
  text-align: justify;
}




/*
 * Topへ戻るボタン
 * -------------------------------------------------- */
#page-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 80%;
}

#page-top a {
    display: block;
    background: #666;
    color: #fff;
    width: 100px;
    padding: 25px 0;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
}

#page-top a:hover {
    background: #999;
    text-decoration: none;
}

/*
 * 見出しタグ用
 * -------------------------------------------------- */

.works_blue {
  padding: 0.4em 0.5em;
  margin: 1em 0;
  color: #494949;
  background: transparent;
  border-left: solid 8px #7db4e6;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.23);
}

.works_orange {
  padding: 0.4em 0.5em;
  margin: 1em 0;
  color: #494949;
  background: transparent;
  border-left: solid 8px #ffd59a;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.23);
}

.works {
  position: relative;
  padding: 0.25em 0;
  border-left: solid 8px rgb(230, 90, 90);
}
.works:after {
  content: "";
  display: block;
  height: 4px;
  background: -webkit-linear-gradient(to right, rgb(230, 90, 90), transparent);
  background: linear-gradient(to right, rgb(230, 90, 90), transparent);
}

.works2 {
  border-bottom: solid 3px skyblue;
  border-left: solid 8px #ffd59a;
  position: relative;
}

.works2:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px #ffc778;
  border-left: solid 8px #ffd59a;
  bottom: -3px;
  width: 35%;
}


/*
 * フッターの設定
 * -------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  background-color: #f5f5f5;
}

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;